@import '../../../node_modules/slick-carousel//slick/slick.less';


@import 'partials/mixins';
@import 'partials/font';

@import 'partials/icons';
@import 'partials/nav';
@import 'partials/grid';
@import 'partials/loader';
@import 'partials/button';
@import 'partials/modal';
@import 'partials/gallery';
@import 'partials/statistic';

body {
  .font('SegoeUI', 22px, normal, normal);
  line-height: 31.75px;
  background-color: #fafafa;
}

header {
  padding-top: 3rem;
  padding-bottom: 2rem;
  h1 {
    margin-top: 5px;
    line-height: 1;
    margin-bottom: 0;
  }
}

.logo img {
  max-width: 168px;
  max-height: 169px;
}


#fancy-block, #fancy-block  * {
  box-sizing: content-box;
}

@import 'partials/responsive';