@import '../../../node_modules/slick-carousel//slick/slick.less';


@import 'partials/mixins';
@import 'partials/font';

@import 'partials/icons';
@import 'partials/nav';
@import 'partials/grid';
@import 'partials/loader';
@import 'partials/button';
@import 'partials/modal';
@import 'partials/gallery';
@import 'partials/statistic';

body {
  .font('SegoeUI', 1.25rem, normal, normal);
  line-height: 2rem;
  background-color: #fafafa;
}

b {
  font-weight: 600;
}

.container {
  padding: 0;
}

header {
  padding-top: 3rem;
  padding-bottom: 2rem;
  &.row {
    margin: 0;
  }
  h1 {
    margin-top: 5px;
    line-height: 1;
    margin-bottom: 0;
  }
  .icon {
    &.verified {
      color: #3897f0;
    }
    &.caret-down::before {
      font-size: 1.25rem;
    }
  }
}

.logo img {
  max-width: 168px;
  max-height: 169px;
}


#fancy-block, #fancy-block  * {
  box-sizing: content-box;
}

@import 'partials/responsive';