.btn {
  height: 3.125rem;
  text-align: center;
}
#menuMore::after {
  display: none;
}
.btn-outline-white {
  border: 1px solid #000;
  background: white;
  line-height: 2rem;
}
.btn-outline-0 {
  border: 0;
  background-color: #fff;
}
.btn-icon {
  width: 3.125rem;
  .icon::before {
    font-size: 1.5rem;
  }
}