@media screen and (max-width: 767px) {
  html {
    font-size: 13px;
  }
  .h1 {
    font-size: 2rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }
}
@media screen and (min-width: 750px) {  
  .container {
    padding-left: 15px;
    padding-right: 15px;
  }
  header.row {
    margin-left: -15px;
    margin-right: -15px;
  }
}
@media screen and (min-width: 768px) {  
  body {
    font-size: 1.375rem;
  }

  .logo img {
    max-width: 150px;
    max-height: 150px;
  }
  
  .statistic-item {
    font-size: 1.375rem; 
    &:first-child {
      width: 200px;
    }
    &:nth-child(2) {
      width: 235px;
    }
  }

  .grid {
    margin-left: -2px;
    margin-right: -2px;
    [class^='col-'] {
      padding-left: 2px;
      padding-right: 2px;
    }
  }
  .grid-item {
    margin-top: 2px;
    margin-bottom: 2px;
    .icon {
      right: 10px;
      &::before {
        font-size: 20px;
      }
    }
  }
}
@media screen and (max-width: 991px) {
  .container {
    max-width: unset;
  }
}
@media screen and (min-width: 1440px) {
  .container {
    max-width: 1330px;
  }
  .logo img {
    max-width: 242px;
    max-height: 242px;
  }
}